<div class="social-icons">
  {% if site.twitter %}
    <a href="{{ site.twitter }}" target="_blank" title="Twitter">
      <i class="ti ti-twitter"></i>
    </a>
  {% endif %}
  {% if site.email %}
    <a href="mailto:{{ site.email }}" target="_blank" title="Email">
      <i class="ti ti-email"></i>
    </a>
  {% endif %}
  {% if site.github %}
    <a href="{{ site.github }}" target="_blank" title="GitHub">
      <i class="ti ti-github"></i>
    </a>
  {% endif %}
</div>
